.contentProduto {
    display: grid;
    justify-content: center;
}

.contProduto {}

.imagemProduto {
    background-color: rgb(230, 230, 230);
    height: 60vh;
    width: 50vh;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 12px;
    justify-content: center;
}

.nomeProduto {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.precoProduto {
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
    text-decoration: line-through 1.9px grey;
    color: grey;
}

.precoPromProduto {
    font-size: 25px;
    font-weight: 700;
}